@theme {
  --color-green1: #008B52;
  --color-green2: #008F4A;
  --color-green3: #10B981;
  --color-blue1: #0056A4;
  --color-black1: #0B0B0B;
  --color-white1: #F2F2F2;
  --color-white2: #F8F8F8;
  --color-white3: #DEDEDE;
  --color-white4: #EBEBEB;
  --color-gray1: #636363;
  --color-red1: #CC272E;
}
