@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  color: #0B0B0B;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}
